<div class="header-home clearfix">
    <div class="w960">
        <div class="pull-left">
        <a href="{% url 'index' %}" title="云雀360自助打印平台" class="logo_area">
            <img src="{{STATIC_URL}}images/yunque_logo.png" class="logo"/>
        </a>
        </div>
        <div class="pull-right">
        <ul class="header-nav">
            <li class="first"><a href="">首页</a></li>

            <li><a href="">论坛</a></li>
            <li><a href="">下载</a></li>
        </ul>
        </div>
    </div>
</div>