<li>
	<a href="#" class="dropdown-toggle">
		<i class="icon-group"></i>
		<span class="menu-text"> 用户管理 </span>

		<b class="arrow icon-angle-down"></b>
	</a>

	<ul class="submenu">
		<li>
			<a href="/admin/auth/group/">
				<i class="icon-double-angle-right"></i>
				用户组
			</a>
		</li>

		<li>
			<a href="/admin/user/user/">
				<i class="icon-double-angle-right"></i>
				用户
			</a>
		</li>

	</ul>
</li>



<li>
	<a href="#" class="dropdown-toggle">
		<i class="icon-plane"></i>
		<span class="menu-text"> 游戏管理 </span>

		<b class="arrow icon-angle-down"></b>
	</a>

	<ul class="submenu">
		<li>
			<a href="/admin/game/developer/">
				<i class="icon-double-angle-right"></i>
				游戏厂商
			</a>
		</li>

		<li>
			<a href="/admin/game/game/">
				<i class="icon-double-angle-right"></i>
				游戏
			</a>
		</li>

		<li>
			<a href="/admin/game/gamepic/">
				<i class="icon-double-angle-right"></i>
				游戏展示图
			</a>
		</li>

		<li>
			<a href="/admin/game/gamefile/">
				<i class="icon-double-angle-right"></i>
				游戏下载包
			</a>
		</li>

		<li>
			<a href="/admin/statistics/statistics/">
				<i class="icon-double-angle-right"></i>
				统计数据
			</a>
		</li>

	</ul>
</li>